<<<<<<< HEAD
<h4><%= store.name %></h4>
<p><%= store.address %></p>
<p>Tel: <%= store.phone_number %></p>
=======
<h2><strong><%= store.name %></strong></h2>
<p><%= store.address_line_1 %></p>
<p><%= store.address_line_2 %></p>
<p>Tel: <%= store.phone_number %></p>
>>>>>>> 15c86ab27412a0e3c52cc953a81404f9c88d30e9
