<div class="container">
  <h1><%= @list.project_name %></h1>
  <% @list.item_lists.each do |item_list| %>
    <p><%= item_list.item.name %> - <%= link_to "delete", item_list_path(item_list), method: :delete %></p>
  <% end %>
  <%= simple_form_for [@list, @item_list] do |f| %>
    <%= f.association :item %>
    <%= f.submit "Add Item", class:"btn btn-outline-primary" %>
  <% end %>
</div>
